
*.ipch
.vs/ComputerGraphicsProject/v17/Browse.VC.db
.vs/ComputerGraphicsProject/v17/Browse.VC.db
.vs/ComputerGraphicsProject/v17/Browse.VC.db
.vs/ComputerGraphicsProject/v17/.suo
.vs/ComputerGraphicsProject/v17/Browse.VC.db
ComputerGraphicsProject/x64/Debug/Computer.8448e87d.tlog/CL.command.1.tlog
ComputerGraphicsProject/x64/Debug/Computer.8448e87d.tlog/CL.read.1.tlog
ComputerGraphicsProject/x64/Debug/Computer.8448e87d.tlog/CL.write.1.tlog
ComputerGraphicsProject/x64/Debug/ComputerGraphicsProject.ilk
ComputerGraphicsProject/x64/Debug/ComputerGraphicsProject.log
ComputerGraphicsProject/x64/Debug/Main.obj
ComputerGraphicsProject/x64/Debug/Robot.obj
ComputerGraphicsProject/x64/Debug/RobotCamera.obj
ComputerGraphicsProject/x64/Debug/vc143.idb
ComputerGraphicsProject/x64/Debug/vc143.pdb
x64/Debug/ComputerGraphicsProject.exe
x64/Debug/ComputerGraphicsProject.pdb
*.obj
*.db
*.tlog
*.lastbuildstate
*.recipe
.vs/ComputerGraphicsProject/v17/.suo
.vs/ComputerGraphicsProject/v17/Browse.VC.db
ComputerGraphicsProject/x64/Debug/Camera.obj
ComputerGraphicsProject/x64/Debug/Computer.8448e87d.tlog/CL.command.1.tlog
ComputerGraphicsProject/x64/Debug/Computer.8448e87d.tlog/CL.read.1.tlog
ComputerGraphicsProject/x64/Debug/Computer.8448e87d.tlog/CL.write.1.tlog
ComputerGraphicsProject/x64/Debug/Computer.8448e87d.tlog/ComputerGraphicsProject.lastbuildstate
ComputerGraphicsProject/x64/Debug/Computer.8448e87d.tlog/link.command.1.tlog
ComputerGraphicsProject/x64/Debug/Computer.8448e87d.tlog/link.read.1.tlog
ComputerGraphicsProject/x64/Debug/Computer.8448e87d.tlog/link.write.1.tlog
ComputerGraphicsProject/x64/Debug/ComputerGraphicsProject.exe.recipe
ComputerGraphicsProject/x64/Debug/ComputerGraphicsProject.ilk
ComputerGraphicsProject/x64/Debug/ComputerGraphicsProject.log
ComputerGraphicsProject/x64/Debug/Floor.obj
ComputerGraphicsProject/x64/Debug/Light.obj
ComputerGraphicsProject/x64/Debug/Main.obj
ComputerGraphicsProject/x64/Debug/Menu.obj
ComputerGraphicsProject/x64/Debug/Objects.obj
ComputerGraphicsProject/x64/Debug/Refrigerator.obj
ComputerGraphicsProject/x64/Debug/Robot.obj
ComputerGraphicsProject/x64/Debug/RobotCamera.obj
ComputerGraphicsProject/x64/Debug/Room.obj
ComputerGraphicsProject/x64/Debug/stb_image.obj
ComputerGraphicsProject/x64/Debug/Table.obj
ComputerGraphicsProject/x64/Debug/Texture.obj
ComputerGraphicsProject/x64/Debug/vc143.idb
ComputerGraphicsProject/x64/Debug/vc143.pdb
ComputerGraphicsProject/x64/Debug/Wall.obj
x64/Debug/ComputerGraphicsProject.exe
x64/Debug/ComputerGraphicsProject.pdb
