
*.ipch
.vs/ComputerGraphicsProject/v17/Browse.VC.db
.vs/ComputerGraphicsProject/v17/Browse.VC.db
.vs/ComputerGraphicsProject/v17/Browse.VC.db
.vs/ComputerGraphicsProject/v17/.suo
.vs/ComputerGraphicsProject/v17/Browse.VC.db
ComputerGraphicsProject/x64/Debug/Computer.8448e87d.tlog/CL.command.1.tlog
ComputerGraphicsProject/x64/Debug/Computer.8448e87d.tlog/CL.read.1.tlog
ComputerGraphicsProject/x64/Debug/Computer.8448e87d.tlog/CL.write.1.tlog
ComputerGraphicsProject/x64/Debug/ComputerGraphicsProject.ilk
ComputerGraphicsProject/x64/Debug/ComputerGraphicsProject.log
ComputerGraphicsProject/x64/Debug/Main.obj
ComputerGraphicsProject/x64/Debug/Robot.obj
ComputerGraphicsProject/x64/Debug/RobotCamera.obj
ComputerGraphicsProject/x64/Debug/vc143.idb
ComputerGraphicsProject/x64/Debug/vc143.pdb
x64/Debug/ComputerGraphicsProject.exe
x64/Debug/ComputerGraphicsProject.pdb
*.obj
*.db
*.db
.vs/ComputerGraphicsProject/v17/Browse.VC.db
*.db
